/*
Verde
#215968

Naranja
#F17C00



"Hind", sans-serif

*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  /*background-color: azure; */
  box-shadow: 0 8px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: 100%;
}

#logo {
  display: block;
  width: 400px;
  margin: 10px auto;
}

.links {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  flex-direction: column;
  list-style-type: none;
  width: 60%;
  padding: 0;
}

.link {
  margin: 10px auto;
  text-align: left;
  width: 100%;
  border: solid 3px white;
  padding: 5px;
  border-radius: 30px;
  color: white;
  background-color: #f17c00;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}
.link:hover {
  cursor: pointer;
  color: #f17c00;
  background-color: white;
  border: solid 3px #215968;
  transition: ease-out 0.15s;
}
.link-img {
  width: 100px;
  display: block;
  margin: 0 10px;
  z-index: 2;
}
.content {
  margin: 0 auto;
  position: relative;
  right: 50px;
}

@media only screen and (max-width: 1200px) {
  .content {
    right: 0;
    text-align: center;
    font-size: 26px;
  }
  .links {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 300px;
  }
  .link-img {
    width: 35px;
  }
  .content {
    font-size: 16px;
    text-align: center;
    right: 0;
  }
  .links {
    width: 90%;
    margin: auto;
    padding: 0;
  }
}

a {
  text-decoration: none;
}
